/* utils */
/* Logo */

/* Header */


/* Hero */


/* Features */



/* Skills */

/* Team */


/* Clients */


/* Futer */

/* Portfolio.html */

/* Header */

/* Filter */


/* Works */



/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms linear, visibility 1000ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  animation: modal-animate-open 2000ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden > .modal {
  animation-name: none;
}

.button.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  height: 30px;
  width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: fill var(--transition-duration-and-funk);
}

.button.close-modal:focus,
.button.close-modal:hover {
  fill: var(--accent-color);
}

@keyframes modal-animate-open {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.07);
  }
  70% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.02);
  }
  90% {
    transform: translate(-50%, -50%) scale(0.98);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Modal */

.modal > .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;
  color: var(--title-color);
}

.modal > .service-order-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 10px;
}

.field-description {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  display: block;
  margin-bottom: 4px;
}

.field-input {
  width: 100%;
  height: 40px;

  padding-left: 42px;

  color: var(--title-color);
  font-size: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-duration-and-funk);
}
.input-wrapper {
  display: block;
  position: relative;
}

.form-field > .input-wrapper .input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: block;
  width: 18px;
  height: 18px;

  transition: fill var(--transition-duration-and-funk);
}

.field-input:focus {
  border-color: var(--accent-color);
}

.field-input:focus + span > .input-icon {
  fill: var(--accent-color);
}

.field-message {
  height: 120px;
  width: 100%;
  padding: 10px 16px;
  resize: none;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  color: var(--title-color);
  font-size: 16px;

  transition: border-color var(--transition-duration-and-funk);
}

.field-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.field-message:focus {
  border-color: var(--accent-color);
}

.check-deskription {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
  margin-bottom: 30px;
}

.terms_of_agreement-link {
  color: var(--accent-color);
}

.check-deskription::before {
  display: block;
  width: 16px;
  height: 15px;

  margin-right: 7px;

  content: "";
  background-image: url("../image/svg/checkbox/not_checked.svg");
  background-repeat: no-repeat;
}

.form-check:checked + .check-deskription::before {
  background-image: url("../image/svg/checkbox/checked.svg");
}

.service-order-form > .button {
  align-self: center;
  min-width: 200px;
}
