@mixin list_wrapper($margin-right:0,$margin-bottom:0) {
      display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * $margin-right);
  margin-bottom: calc(-1 * $margin-bottom);
};

@mixin items_in_row_for_flex($items_in_row:1,$margin-right:0,$margin-bottom:0) {
      flex-basis: calc(100% / $items_in_row - var(--standard-clearance));
  margin-right: $margin-right;
  margin-bottom: $margin-bottom;
};