.header > .container,
.site-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--title-color);
}

.header-logo_color {
  color: var(--accent-color);
}

.nav-list,
.contacts-list {
  display: flex;
}

.nav-list {
  margin-left: 90px;

  &__item {
    position: relative;

    & + & {
      margin-left: 50px;
    }

    &_flag::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: var(--accent-color);
    }
  }

  & .link_zeroing {
    display: block;
    padding: 32px 0;

    color: var(--title-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--transition-duration-and-funk);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
}

.contacts-list {
  margin-left: auto;

  &__item + &__item {
    margin-left: 50px;
  }

  &__contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
  
    padding-top: 32px;
    padding-bottom: 32px;
    min-width: 122px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);
    fill: var(--primary-text-color);

    transition: color var(--transition-duration-and-funk),
      fill var(--transition-duration-and-funk);

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
}
